.user-card {
  margin-left: 20px;
  width: calc(100% - 40px);
  height: 82px;
  background-color: var(--grey-10);
  border-radius: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  &__img {
    position: relative;
    margin-left: 15px;
    width: 39px;
    height: 39px;
    border-radius: 21px;
    background-color: var(--grey-30);

    img {
      position: absolute;
      top: 6px;
      left: 8px;
    }
  }

  &__name {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px; 
    white-space: nowrap;
  }
}
