.side-menu {
  height: 100vh;
  width: var(--side-menu-width);
  border-right: 1px solid var(--grey-30);
  transition: var(--transition);

  &__title {
    text-align: center;
    margin-bottom: 55px;
  }
}

@media (max-width: $xxl) {
  .side-menu {
    width: var(--side-menu-width-sm);
  }
}
