body {
  padding: 0;
  margin: 0;

  background: var(--white);
  overflow-x: hidden;
  font-family: var(--default-font);
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
}
