:root {
  --default-font: "Poppins", -apple-system, Roboto;

  // colors
  --white: #ffffff;
  --grey-10: rgb(245, 245, 245);
  --grey-20: rgb(235, 235, 235);
  --grey-30: rgb(225, 225, 225);
  --grey-50: rgb(205, 205, 205);
  --grey-80: rgb(175, 175, 175);

  // animation
  --transition: 0.21s;

  // sizes
  --side-menu-width: 230px;
  --side-menu-width-sm: 180px;
  --header-height: 94px;
}
